#moje
AiSD/
ANL/
ASK/
EKNM/
JAVA/
MP/
PO/
RPiS/
test/
WWW/

#vscode
.vscode/

#cmake
compile_commands.json
CMakeCache.txt
CMakeFiles
cmake_install.cmake

#cargo
target/
**/*.rs.bk

#npm
node_modules/

#scala
.metal/
