# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.lista8.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\uni\poo\lista8\.idea\.idea.lista8\.idea/dataSources/
/dataSources.local.xml
