@model zad2.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <form method="post" runat="server">
        <div>
            E-mail:@Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div>
            Password:@Html.PasswordFor(m => m.Password) @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div>
            <button>Login</button>
        </div>
        <div>
            @Html.ValidationMessage("Login")
        </div>
    </form>
</body>
</html>
