<?xml version="1.0" encoding="utf-8"?>
<!--
  Aby uzyskać więcej informacji o sposobie konfigurowania aplikacji ASP.NET, odwiedź stronę
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.webServer>
		<handlers>
			<add name="Handler" type="lista2.Handler" path="*" verb="*"/>
		</handlers>
	</system.webServer>
</configuration>