# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.lista11.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\uni\poo\lista11\.idea\.idea.lista11\.idea/dataSources/
/dataSources.local.xml
