<?xml version="1.0" encoding="utf-8"?>
<!--
  Aby uzyskać więcej informacji o sposobie konfigurowania aplikacji ASP.NET, odwiedź stronę
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="WelcomePage.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" defaultUrl="WelcomePage.aspx" name="Cookie" slidingExpiration="true"/>
		</authentication>
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
		<membership defaultProvider="default">
			<providers>
				<add name="default" type="zad2.CustomMembershipProvider"></add>
			</providers>
		</membership>
		<roleManager defaultProvider="default" enabled="true" cacheRolesInCookie="true">
			<providers>
				<add name="default" type="zad2.CustomRoleProvider"/>
			</providers>
		</roleManager>
	</system.web>
	<location path="Register.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminOnly.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<connectionStrings>
		<add name="aspdotnetConnectionString" connectionString="Data Source=GLADOS\SQLEXPRESS;Initial Catalog=aspdotnet;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>