# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.lista6.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\uni\poo\lista6\.idea\.idea.lista6\.idea/dataSources/
/dataSources.local.xml
