@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<div>
    @if (User.IsInRole("authenticated"))
    {
        <div>
            authenticated
        </div>
    }
    <button onclick="location.href='@Url.Action("Logout", "Account")'">Log out</button>
</div>