# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.lista7.iml
# Datasource local storage ignored files
/../../../../../../../:\uni\poo\lista7\.idea\.idea.lista7\.idea/dataSources/
/dataSources.local.xml
